<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article>
	<article>NPM: {{ npm }} </article>
	<article>I study at {{ college }} </article>
	<article>My hobby is {{ hobby }} </article>
	<article>My description : {{ description }} </article>
	<img src="http://www.about.tarung2017.com/foto/821.jpg" alt="Memes" width="250" height="250">
	<article> </article>
	<article>My front friends name is {{ fr }}</article>
	<article>NPM : 1706022104 </article>
	<article>She is 19 years old </article>
	<article>She study at Universitas Indonesia </article>
	<article>Her hobby is cooking </article>
	<article>Her description :  a full-time learner, part-time coder </article>
	<img src="https://media.licdn.com/dms/image/C5603AQGwXRJg7_qdTQ/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=StNWFDUAqadUz9QqST8sAwvotaB3T1fK48Xcm4rJFU0" alt="friends-1" width="250" height="250">
	<article> </article>
	<article>My back friends name is {{ bck }}</article>
	<article>NPM : 1706023422 </article>
	<article>She is 19 years old </article>
	<article>She study at Universitas Indonesia </article>
	<article>Her hobby is sleep and eat </article>
	<article>Her description :  I am currently studying at Fasilkom UI as Computer Science student </article>
	<img src="http://www.about.tarung2017.com/foto/317.jpg" alt="friends-2" width="250" height="250">
	
	
</body>
</html>
